<div class="separator-breadcrumb border-top mb-3"></div>

<div class="container-fluid">    
    <form class="row m-0" validControl [formGroup]="satisEklemeFormu" (submit)="satisEkle(); islemiKaydet()">
        <div class="col-3">
            <a style="cursor: pointer;" class="card mb-4"
                [class]="{'shadow-info': odemeTipi == 'Nakit'}"
                (click)="odemeTipi = 'Nakit'; odemeTipiSec()">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-100">
                        <b class="text-truncate fs-14 mb-2">Nakit</b>
                        </div>
                        <div class="text-info ms-auto">
                        <i class="fas fa-solid fa-money-bill-wave fs-20"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a style="cursor: pointer;" class="card mb-4"
                [class]="{'shadow-danger':  odemeTipi == 'Kredi Kartı'}"
                (click)="odemeTipi = 'Kredi Kartı'; odemeTipiSec()">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-100">
                        <b class="text-truncate fs-14 mb-2">Kredi Kartı</b>
                        </div>
                        <div class="text-danger ms-auto">
                        <i class="fas fa-regular fa-credit-card fs-20"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a style="cursor: pointer;" class="card mb-4"
                [class]="{'shadow-warning': 1 == 1}">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-100">
                        <b class="text-truncate fs-14 mb-2">Yeni</b>
                        </div>
                        <div class="text-warning ms-auto">
                        <i class="fas fa-sync mb-2 fs-20"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a style="cursor: pointer;" class="card mb-4"
                [class]="{'shadow-success': 1 == 1}">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-100">
                        <b class="text-truncate fs-14 mb-2">Kaydet</b>
                        </div>
                        <div class="text-success ms-auto">
                        <i class="fas fa-solid fa-check fs-20"></i>
                        </div>
                </div>
                </div>
            </a>
        </div>
        <div class="col-2">
            <a style="cursor: pointer;" class="card mb-4"
            [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Erkek'}"
            (click)="urunFilterData.e_cinsiyet = 'Erkek'; urunListele()">
            <div class="card-body">
                <div class="d-flex">
                    <div class="w-100">
                    <b class="text-truncate fs-14 mb-2">Erkek</b>
                    </div>
                    <div class="text-primary ms-auto">
                    <i class="fas fa-solid fa-mars fs-20"></i>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-2">
            <a style="cursor: pointer;" class="card mb-4"
            [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Kadın'}"
            (click)="urunFilterData.e_cinsiyet = 'Kadın'; urunListele()">
            <div class="card-body">
                <div class="d-flex">
                    <div class="w-100">
                    <b class="text-truncate fs-14 mb-2">Kadın</b>
                    </div>
                    <div class="text-primary ms-auto">
                    <i class="fas fa-solid fa-venus fs-20"></i>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-2">
            <a style="cursor: pointer;" class="card mb-4"
            [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Unisex'}"
            (click)="urunFilterData.e_cinsiyet = 'Unisex'; urunListele()">
            <div class="card-body">
                <div class="d-flex">
                    <div class="w-100">
                    <b class="text-truncate fs-14 mb-2">Unisex</b>
                    </div>
                    <div class="text-primary ms-auto">
                    <i class="fas fa-solid fa-venus-mars fs-20"></i>
                    </div>
                </div>
            </div>
        </a>
        </div>
        <div class="col-8" style="height:650px; overflow-y: auto;">
            <div class="card-header bg-transparent d-flex jc-space-between border-1-bottom mx-3" style="border-radius: 10px; width: 95%;">
                <h5 class="m-0 mt-2">ÜRÜNLER</h5>
            </div>
            <div class="row m-0">
                <div class="col-6 mt-2 mb-1" *ngFor="let urun of urunListesi">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <strong>{{urun.e_stok_kart_adi}}</strong>
                            </div>
                            <div class="container" style="margin-left: 80%;">
                                <div *ngIf="satisListesi[0].e_fiyat_politikasi == '1'">
                                    <strong>{{urun.e_fiyat_1 | currency : ' '}} ₺</strong>
                                </div>
                                <div *ngIf="satisListesi[0].e_fiyat_politikasi == '2'">
                                    <strong>{{urun.e_fiyat_2 | currency : ' '}} ₺</strong>
                                </div>
                                <div *ngIf="satisListesi[0].e_fiyat_politikasi == '3'">
                                    <strong>{{urun.e_fiyat_3 | currency : ' '}} ₺</strong>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>