<div class="separator-breadcrumb border-top mb-3"></div>

<div class="container-fluid">
    <form class="row m-0" validControl [formGroup]="satisEklemeFormu" (submit)="satisEkle(); islemiKaydet()">
        <div class="col-7" style="overflow-x: hidden; border-radius: 5px;">
            <div class="card-header bg-transparent border-1-bottom mx-3" style="border-radius: 10px; display: flex; justify-content: center; text-align: center;">
                <span class="fas fa-solid fa-tags mr-1 mt-2 fs-16" style="color: #cdab60;"><a style="color: black; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> ÜRÜNLER</a></span>
            </div>
            <div class="row m-0 mt-2">
                <div class="col-4">
                    <a style="cursor: pointer;" class="card mb-4"
                    [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Erkek'}"
                    (click)="urunFilterData.e_cinsiyet = 'Erkek'; urunListele()">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="w-100">
                            <b class="text-truncate fs-14 mb-2">Erkek</b>
                            </div>
                            <div class="text-primary ms-auto">
                            <i class="fas fa-solid fa-mars fs-20"></i>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-4">
                    <a style="cursor: pointer;" class="card mb-4"
                    [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Kadın'}"
                    (click)="urunFilterData.e_cinsiyet = 'Kadın'; urunListele()">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="w-100">
                            <b class="text-truncate fs-14 mb-2">Kadın</b>
                            </div>
                            <div class="text-primary ms-auto">
                            <i class="fas fa-solid fa-venus fs-20"></i>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-4">
                    <a style="cursor: pointer;" class="card mb-4"
                    [class]="{'shadow-primary': urunFilterData.e_cinsiyet == 'Unisex'}"
                    (click)="urunFilterData.e_cinsiyet = 'Unisex'; urunListele()">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="w-100">
                            <b class="text-truncate fs-14 mb-2">Unisex</b>
                            </div>
                            <div class="text-primary ms-auto">
                            <i class="fas fa-solid fa-venus-mars fs-20"></i>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
            <div class="container" style="overflow-y: auto; height: calc(100vh - 263px) !important;">
                <div class="row m-0" *ngIf="!urunListesi && !urunLoader">
                    <div class="alert alert-primary col-12 mt-2 p-4">
                        <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
                        <span class=" valign-middle">Listelemek istediğiniz ürün bulunamadı.</span>
                    </div>
                </div>
                <div class="row m-0" *ngIf="urunLoader">
                    <div class="alert alert-primary col-12 mt-2 p-4">
                        <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
                        <span class=" valign-middle">Ürün kayıtları listeleniyor, lütfen bekleyiniz.</span>
                    </div>
                </div>
                <div class="row m-0" *ngIf="urunListesi && !urunLoader">
                    <div class="col-6 mt-2 mb-1" *ngFor="let urun of urunListesi" (click)="sepeteEkle(urun)">
                        <div class="card">
                            <div class="card-body" style="text-align: right; box-shadow: 3px 3px 3px gray">
                                <div class="row m-0">
                                    <div class="col-2">
                                        <img src="https://test.eronsoftware.com:5770/admin/uploads/stokKartIslemleri/{{urun.e_resim_uniq_id}}.{{urun.e_resim_dosya_uzantisi}}" height="80px" width="80px" style="float: left;">
                                    </div>
                                    <div class="col-10">
                                        <div>
                                            <strong>{{urun.e_stok_kart_kodu}} : {{urun.e_stok_kart_adi}}</strong>
                                        </div>
                                        <div class="container mt-3" style="text-align: right;">
                                            <strong>{{urun.e_fiyat | currency : ' '}} ₺</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5" style="height: calc( 100vh - 102px); overflow-x: hidden;">
            <div class="card">
                <div class="card-header bg-transparent border-1-bottom mx-4" style="border-radius: 10px; width: 96%; display: flex; justify-content: center; text-align: center;">
                    <div class="row m-0">
                        <span class="fas fa-solid fa-cart-plus mr-1 mt-2 fs-16" style="color: #cdab60;"><a style="color: black; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> SEPETİM</a></span>
                    </div>
                </div>
                <div class="card-body bg-transparent" style="height: calc(100vh - 348px) !important; overflow-y: auto;">
                    <div class="row m-0" *ngIf="!satisDetayListesi && !detayLoader">
                        <div class="alert alert-primary col-12 m-3 p-4" style="text-align: center; font-size: large;">
                            <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
                            <span class="valign-middle">Sepetiniz Boş</span>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="detayLoader">
                        <div class="alert alert-primary col-12 m-3 p-4">
                            <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
                            <span class=" valign-middle">Sepetiniz listeleniyor, lütfen bekleyiniz.</span>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="satisDetayListesi && !detayLoader" style="overflow-y: auto;">
                        <div class="col-12 mt-2 mb-1" *ngFor="let detay of satisDetayListesi">
                            <div class="card" style="box-shadow: 3px 3px 3px gray">
                                <div class="card-body">
                                    <div class="row m-0">
                                        <div class="col-1" style="float: left;">
                                            <img src="https://test.eronsoftware.com:5770/admin/uploads/stokKartIslemleri/{{detay.e_resim_uniq_id}}.{{detay.e_resim_dosya_uzantisi}}" width="70px" height="70px">
                                        </div>
                                        <div class="col-5" style="text-align: center;">
                                            <strong style="font-size: 12px;">{{detay.e_stok_kart_kodu}} : {{detay.e_stok_kart_adi}}</strong>
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-primary mr-2" *ngIf="detay.e_miktar != 1" (click)="detayMiktarDuzenle(detay, -1)"><i class="fas fa-solid fa-minus"></i></button>
                                            <button disabled type="button" class="btn btn-primary mr-2" *ngIf="detay.e_miktar == 1"><i class="fas fa-solid fa-minus"></i></button>
                                            <strong>{{detay.e_miktar}}</strong>
                                            <button type="button" class="btn btn-primary ml-2" (click)="detayMiktarDuzenle(detay, 1)"><i class="fas fa-solid fa-plus"></i></button>
        
                                        </div>
                                        <div class="col-2"><strong>{{detay.e_satir_toplami | currency: ' '}} ₺</strong></div>
                                        <div class="col-1" *ngIf="!silinenKayitBtn[detay.e_id]" style="float: right;"><button type="button" class="btn btn-dark btn-block" (click)="satisDetaySil(detay, 'satisIslemleri/satisDetaySil');"><i class="fas fa-times fs-16"></i></button></div>
                                        <div class="col-1" *ngIf="silinenKayitBtn[detay.e_id]" style="float: right;"><button type="button" class="btn btn-dark btn-block"><i class="fas fa-times fs-16"></i></button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer mt-2" style="border-radius: 5px; position: flex;">
                    <div class="row m-0">
                        <div class="col-12 p-1" *ngIf="satisDetayListesi" style="text-align: right;">
                            <strong> SEPET TOPLAMI : {{satisDetayListesi[0].ALT_TOPLAM | currency : ' '}} ₺</strong>
                        </div>
                        <div class="col-6">
                            <a style="cursor: pointer;" class="card mb-2"
                                [class]="{'shadow-info': odemeTipi == 'Nakit'}"
                                (click)="odemeTipi = 'Nakit'; odemeTipiSec()"
                                [ngStyle]="{'font-size' : odemeTipi == 'Nakit' ? '16px' : '' }"
                                >
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="w-100">
                                        <b class="text-truncate mb-2">Nakit</b>
                                        </div>
                                        <div class="text-info ms-auto">
                                        <i class="fas fa-solid fa-money-bill-wave fs-20"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a style="cursor: pointer;" class="card mb-2"
                                [class]="{'shadow-danger':  odemeTipi == 'Kredi Kartı'}"
                                (click)="odemeTipi = 'Kredi Kartı'; odemeTipiSec()"
                                [ngStyle]="{'font-size' : odemeTipi === 'Kredi Kartı' ? '16px' : '' }"
                                >
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="w-100">
                                        <b class="text-truncate mb-2">Kredi Kartı</b>
                                        </div>
                                        <div class="text-danger ms-auto">
                                        <i class="fas fa-regular fa-credit-card fs-20"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a style="cursor: pointer;" class="card mb-4"
                                [class]="{'shadow-warning': 1 == 1 }"
                                (click)="sayfayiTemizleButton()">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="w-100">
                                        <b class="text-truncate fs-14 mb-2">Yeni Sayfa</b>
                                        </div>
                                        <div class="text-warning ms-auto">
                                        <i class="fas fa-sync"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a style="cursor: pointer;" class="card mb-4"
                                [class]="{'shadow-dark': 1 == 1}"
                                (click)="sepetiTemizleButton()">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="w-100">
                                        <b class="text-truncate fs-14 mb-2">Sepeti Temizle</b>
                                        </div>
                                        <div class="text-dark ms-auto">
                                        <i class="fas fa-solid fa-trash"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a style="cursor: pointer;" class="card shadow-outline-success mb-4"
                                [class]="{'shadow-success': 1 == 1}"
                                (click)="satisEkle(); kaydetButton()">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="w-100">
                                        <b class="text-truncate fs-14 mb-2">Kaydet</b>
                                        </div>
                                        <div class="text-success ms-auto">
                                        <i class="fas fa-solid fa-check"></i>
                                        </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>