<ng-template #modalSiparis let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sipariş {{modalHeader.title}} Formu</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form validControl [formGroup]="siparisEklemeFormu" (submit)="islemiKaydet()">
          <div class="row m-0">
            <div class="col-md-6 form-group">
              <label>Açıklama *</label>
              <input type="text" class="form-control" formControlName="e_aciklama" title="Açıklama" required>
            </div>
            <div class="col-md-6 form-group">
              <label>Durum *</label>
              <select class="form-control" formControlName="e_durum" title="Durum">
                <option value="Aktif">Aktif</option>
                <option value="Pasif">Pasif</option>
              </select>
            </div>
          </div>
          <button id="submitButton" class="hidden">Kaydet</button>
        </form>
      </div>
    </div>
    <div class="container mt-1">
      <div class="card-header bg-transparent d-flex jc-space-between border-1-bottom mx-3" style="border-radius: 10px;">
        <h5 class="m-0 mt-2 ng-tns-c77-6">Sipariş Detayları</h5><button class="btn btn-block btn-primary w-20 ng-tns-c77-6" (click)="siparisDetayEkleButton()"><i class="fas fa-plus mr-2 ng-tns-c77-6"></i> Sipariş Detayı Ekle</button>
      </div>
      <div class="alert alert-primary p-4 m-3" *ngIf="!siparisDetayListesi && !detayLoader">
        <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
        <span class=" valign-middle">Listelemek istediğiniz detay kaydı bulunamadı.</span>
        <!-- <button class="btn btn-primary fa-pull-right w-25" (click)="siparisDetayEkleButton()"><span class="fas fa-plus mr-2"></span> Detay Ekle</button> -->
      </div>
      <div class="alert alert-primary p-4" *ngIf="detayLoader">
      <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
      <span class=" valign-middle">Sipariş Detay kayıtları listeleniyor, lütfen bekleyiniz.</span>
      </div>
      <div class="card full-list-1" [hidden]="!siparisDetayListesi || detayLoader">
        <div class="card-body" *ngIf="siparisDetayListesi && !detayLoader">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="alert-primary">
                  <th class="text-center">Ürün Stok Kodu</th>
                  <th class="text-center">Ürün Adı</th>
                  <th class="text-center">Miktar</th>
                  <th class="text-center"></th>
                  <!-- <th class="text-center"><button type="button" class="btn btn-sm btn-primary w-100" (click)="siparisDetayEkleButton()"><i class="fas fa-plus mr-1"></i>Detay Ekle</button></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detay of siparisDetayListesi">
                  <td class="text-center">{{detay.e_stok_kart_kodu}}</td>
                  <td class="text-center">{{detay.e_stok_kart_adi}}</td>
                  <td class="text-center">{{detay.e_miktar}}</td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-outline-primary w-48" style="margin-right: 3%;" (click)="siparisDetayDuzenleButton(detay)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-sm btn-dark w-48" *ngIf="!silinenKayitBtn[detay.e_id]" (click)="detaySilButton(detay, 'siparisIslemleri/siparisDetaySil');"><i class="fas fa-times"></i></button>
                    <button class="btn btn-sm btn-dark w-48" *ngIf="silinenKayitBtn[detay.e_id]"><div class="spinner-glow spinner-glow-light mt-0"></div></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary mr-1 w-lg" *ngIf="!islemiKaydetBtn" onclick="document.getElementById('submitButton').click()">
            <i class="fas fa-check mr-2"></i> Kaydet
          </button>
          <button class="btn btn-primary mr-1 w-lg" *ngIf="islemiKaydetBtn">
            <div class="spinner-glow spinner-glow-light mt-0 mr-2"></div> Kaydeliyor
          </button>
          <button class="btn btn-outline-dark w-lg" (click)="modal.dismiss('')"><span class="fas fa-times mr-2"></span> İptal</button>
    </div>
</ng-template>

<ng-template #modalSiparisDetay let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sipariş Detay {{modalHeader.title}} Formu</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form validControl [formGroup]="siparisDetayEklemeFormu" (submit)="islemiKaydetDetayEkle()">
        <div class="row m-0">
          <div class="col-md-6 form-group">
            <label>Ürün *</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="e_stok_kart_adi" readonly><button type="button" class="btn btn-sm btn-primary" (click)="urunListesiAc()"><span class="fas fa-plus mr-2"></span> Ürün Seç</button>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <label>Miktar *</label>
            <!-- <input type="number" class="form-control" formControlName="e_miktar" title="Miktar" required> -->
            <div class="row m-0">
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-btn" *ngIf="siparisDetayEklemeFormu.value.e_miktar == 1"><button disabled type="button" class="btn btn-primary" ><span class="fas fa-solid fa-minus"></span></button></span>
                  <span class="input-group-btn" *ngIf="siparisDetayEklemeFormu.value.e_miktar > 1"><button type="button" class="btn btn-primary" (click)="detayMiktarDuzenle('-')"><span class="fas fa-solid fa-minus"></span></button></span>
                  <input id="miktarInput" type="number" class="form-control text-center" formControlName="e_miktar" title="Miktar" readonly required>
                  <span class="input-group-btn"><button type="button" class="btn btn-primary" (click)="detayMiktarDuzenle('+')"><span class="fas fa-solid fa-plus"></span></button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="submitButton2" class="hidden">Kaydet</button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary mr-1 w-lg" *ngIf="!islemiKaydetBtn" onclick="document.getElementById('submitButton2').click()">
          <i class="fas fa-check mr-2"></i> Kaydet
        </button>
        <button class="btn btn-primary mr-1 w-lg" *ngIf="islemiKaydetBtn">
          <div class="spinner-glow spinner-glow-light mt-0 mr-2"></div> Kaydeliyor
        </button>
        <button id="detayKapatBtn" class="btn btn-outline-dark w-lg" (click)="modal.dismiss('')"><span class="fas fa-times mr-2"></span> İptal</button>
  </div>
</ng-template>

<ng-template #modalUrun let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ürün {{modalHeader.title}} Formu</h4>
    <button id="modalUrunKpt" type="button" class="close" aria-label="Close" (click)="modal.dismiss('');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card shadow-dark mb-3">
      <div class="card-body">
        <form class="row m-0" (submit)="urunListele()">
          <div class="form-group col-md-8">
            <label>Arama:</label>
            <input type="text" class="form-control" [(ngModel)]="urunFilterData.ARAMA" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-2">
            <label>Durum:</label>
            <select class="form-control" [(ngModel)]="urunFilterData.e_durum" [ngModelOptions]="{standalone: true}" (change)="urunListele()">
              <option value="">-- Tümü --</option>
              <option value="Aktif">Aktif</option>
              <option value="Pasif">Pasif</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label>&nbsp;</label>
            <button class="btn btn-dark btn-block" (click)="urunListele()"><i class="fas fa-sync mr-2"></i> Filtrele</button>
          </div>
        </form>
      </div>
    </div>
    <div class="alert alert-primary p-4" *ngIf="!urunListesi && !urunLoader">
      <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
      <span class=" valign-middle">Listelemek istediğiniz kayıt bulunamadı.</span>
    </div>
    <div class="alert alert-primary p-4" *ngIf="urunLoader">
      <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
      <span class=" valign-middle">Ürün kayıtları listeleniyor, lütfen bekleyiniz.</span>
    </div>
    <div class="card full-list-1" [hidden]="!urunListesi || urunLoader" style="height: 670px;">
      <div class="card-body" *ngIf="urunListesi && !urunLoader">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" style="overflow-y: auto;">
            <thead>
              <tr class="alert-primary">
                <th class="text-center">Ürün Resmi</th>
                <th class="text-center">Ürün Kodu</th>
                <th class="text-center">Ürün Adı</th>
                <th class="text-center">Fiyat</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let urun of urunListesi">
                <td class="text-left">
                  <img src="https://test.eronsoftware.com:5770/admin/uploads/stokKartIslemleri/{{urun.e_resim_uniq_id}}.{{urun.e_resim_dosya_uzantisi}}" height="80px" width="80px">
                </td>
                <td class="text-left">{{urun.e_stok_kart_kodu}}</td>
                <td class="text-left">{{urun.e_stok_kart_adi}}</td>
                <td class="text-right">{{urun.e_fiyat | currency: ' '}} ₺</td>
                <td class="text-left">
                  <button type="button" class="btn btn-block btn-primary w-100" (click)="urunSec(urun)"><span class="fas fa-plus mr-2"></span> Seç</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
  
<div class="separator-breadcrumb border-top mb-3"></div>
  
<div class="card shadow-dark mb-3">
  <div class="card-body">
    <form class="row m-0" (submit)="siparisListele()">
      <div class="form-group col-md-8">
        <label>Arama:</label>
        <input type="text" class="form-control" [(ngModel)]="filterData.ARAMA" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-2">
        <label>Durum:</label>
        <select class="form-control" [(ngModel)]="filterData.e_durum" [ngModelOptions]="{standalone: true}" (change)="siparisListele()">
          <option value="">-- Tümü --</option>
          <option value="Aktif">Aktif</option>
          <option value="Pasif">Pasif</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <button class="btn btn-dark btn-block"><i class="fas fa-sync mr-2"></i> Filtrele</button>
      </div>
    </form>
  </div>
</div>
  
<div class="alert alert-primary p-4" *ngIf="!siparisListesi && !mainLoader">
  <i class="ri-forbid-line fs-22 mr-3 valign-middle"></i>
  <span class=" valign-middle">Listelemek istediğiniz kayıt bulunamadı.</span>
  <button class="btn btn-primary fa-pull-right w-25" (click)="siparisEkleButton()"><span class="fas fa-plus mr-2"></span> Yeni Sipariş Ekle</button>
</div>
  
<div class="alert alert-primary p-4" *ngIf="mainLoader">
    <div class="spinner-glow spinner-glow-primary m-0 mr-4 valign-middle"></div>
    <span class=" valign-middle">Sipariş kayıtları listeleniyor, lütfen bekleyiniz.</span>
</div>
  
<div class="card full-list-1" [hidden]="!siparisListesi || mainLoader">
    <div class="card-body" *ngIf="siparisListesi && !mainLoader">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="alert-primary">
              <th class="text-center w-15">Tarih</th>
              <th class="text-center w-15">Açıklama</th>
              <th class="text-center w-10">Ürün Kalem Adedi</th>
              <th class="text-center w-10">Siparişi Veren</th>
              <th class="text-center w-10">Toplam</th>
              <th class="text-center w-10">Durum</th>
              <th class="text-center w-20">
                <button class="btn btn-primary btn-sm btn-block" (click)="siparisEkleButton()"><i class="fas fa-plus mr-1"></i> Yeni Sipariş Ekle</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let siparis of siparisListesi">
              <td class="text-center">{{siparis.e_tarih | date: 'dd.MM.yyyy - HH:mm'}}</td>
              <td class="text-left">{{siparis.e_aciklama}}</td>
              <td class="text-left" *ngIf="siparis.e_farkli_kalem_sayisi != 0">{{siparis.e_farkli_kalem_sayisi}} adet</td>
              <td class="text-left" *ngIf="siparis.e_farkli_kalem_sayisi == 0">Ürün Yok</td>
              <td class="text-left">{{siparis.e_siparisi_acan_kullanici_adi}}</td>
              <td class="text-left" *ngIf="siparis.e_toplam_miktar">{{siparis.e_toplam_miktar}} adet</td>
              <td class="text-left" *ngIf="!siparis.e_toplam_miktar">Ürün Yok</td>
              <td class="text-center"><span class="badge badge-success p-1 w-100 " *ngIf="siparis.e_durum == 'Aktif'">Aktif</span>
                <span class="badge badge-secondary p-1 w-100 " *ngIf="siparis.e_durum != 'Aktif'">Pasif</span></td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-primary w-48" style="margin-right: 3%;" (click)="siparisDuzenleButton(siparis)"><i class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-dark w-48" *ngIf="!silinenKayitBtn[siparis.e_id]" (click)="silButton(siparis, 'siparisIslemleri/siparisSil');"><i class="fas fa-times"></i></button>
                <button class="btn btn-sm btn-dark w-48" *ngIf="silinenKayitBtn[siparis.e_id]"><div class="spinner-glow spinner-glow-light mt-0"></div></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-pagination">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="siparisListesi ? siparisListesi[0].TKS : 0"
          [itemsPerPage]="filterData.KS"
          [(ngModel)]="filterData.SS"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="İlk Sayfa"
          lastText="Son Sayfa"
          [maxSize]="5"
          [rotate]="false"
          (pageChanged)="filterData.SS = $event.page; siparisListele()"
        ></pagination>
        <div class="text-center" *ngIf="siparisListesi && !mainLoader">
          <small>Toplam <strong>{{siparisListesi[0].TKS}}</strong> kayıt içinden <strong>{{siparisListesi.length}}</strong> tanesi listelendi.</small>
        </div>
      </div>
    </div>
</div>